################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CashDesk.Tests/obj/Release/netcoreapp2.0
/CashDesk.Tests/obj
/CashDesk.Tests/bin/Debug/netcoreapp2.0
/CashDesk/obj
/.vs
/CashDesk/bin/Debug/netcoreapp2.0
