################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CashDesk.Tests/obj/Release/netcoreapp2.0
